body{
	background-image: url("/static/images/background.jpg");
	background-size: 100%;
	background-color: #cccccc;
	overflow-x:hidden;
}

h1{
	margin-top: 50px;
	text-align: center;
}

/* Search elements */

#search-container {
  width: 60%;
  background:lightgrey;
  opacity: 0.95;
  border-radius: 5px;
}

.searchbtn {
  text-align: center;
}
#search-h1 {
  margin: 5%;
}
#search-bookpage-container {
	width: 85%;
}
#search-bookpage-h3 {
  text-align:center;
  margin:30px;
}

/* Modal Content/Box */
.search-content {
  background-color: #fefefe;
  margin: 10% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
  border-radius: 5px;
}

ul > li:hover{
    background-color: grey;
    cursor: pointer;
}

/* Index */
#welcome {
	margin-top: 10%;
	color: white;
	text-align: center;
	font-size: 20px;
}
.registerbtn, .signinbtn {
  border-radius: 5px;
  position: relative;

}
#index-register-container, #index-signin-container {
	width: 60%;
}

.alert {
  text-align: center;
}

/* Sign up */

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 10em;
}

button:hover {
  opacity:1;
}

/* MENIUb*/
.navbar-brand {
  padding:5px;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.registerbtn {
	padding: 14px 20px;
	background-color: #f4a941;
}
.signinbtn {
	padding: 14px 20px;
	background-color: #4CAF50;
	text-align: center;

}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 49%;
  border-radius: 5px;
  position: relative;
  text-align: center;
  margin: 1px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: transparent;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto 20% auto; /* 3% from the top, 20% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  margin-left:0px;
}
label{
	display:block;
}

/* The Close Modal Button */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* REVIEWS*/

#reviewsarea{
  margin-top :10px;
  margin-bottom :10px;
  position:relative;
}
.all-reviews{
  margin-top :10px;
  margin-bottom :10px;
}

#reviewcontent {
  overflow:hidden;
  resize:none;
  background:lightgrey;
  width:100%;
  height: 8em;
  padding:5px;
  overflow-y: scroll;
}
#single_review {
  border-bottom:1px solid #E9E9E9;
  padding:5px;
  white-space: pre-wrap;
}
#review_itself{
  background:#dff0d8;
  padding: 10px;
}
#others_rating {
  border-bottom:1px solid #d3d3d3;
  padding:5px;
}

/* Ripple effect */
.submit_review {
  background-position: center;
  transition: background 0.8s;
}
.submit_review:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.submit_review:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Green checkbox animation*/
.circle-loader {
  margin-bottom: 3.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: absolute;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;

  margin-top: 2em;
  margin-left: 43%;
  display:none;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 3.5em;
  width: 1.75em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: '';
  left: 1.75em;
  top: 3.5em;
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}

/* Star rating in a detailed search result */
#ratingplace{
  margin-top: -0.5em;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size:20px;
  cursor: pointer;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.active:before {
  content: "\2605";
  position: absolute;
  color: gold;
}

.active ~ span:before{
  content: "\2605";
  position: absolute;
  color: gold;
}

/* LOADER */
#search_loader{
  position:absolute;
  margin-top:10em;
  margin-left:43%;

}
#login_loader{
  position:absolute;
  margin-top:10em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 43%;
  display:none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .search-content{
    margin: 16% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 75%; /* Could be more or less, depending on screen size */
  }
  .searchbtn {
    width:100%;
  }
}
@media screen and (min-width: 1000px) {
  .search-content{
    margin: 1% auto 20% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 75%; /* Could be more or less, depending on screen size */
  }
}
@media screen and (max-width: 1000px){

  .modal-content {

    width: 90%;
  }
  #index-register-container, #index-signin-container{
    width:90%;
  }
  .col-md-6{
    width:100%;
  }
}
@media screen and (max-width: 355px){

  .modal-content {
    margin: 25% auto 20% auto;
  }
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
